{% extends 'base.html' %}
{% load static %}

{% block 'dashboard' %}
<div class="container" style="color: white; padding: 30px;">
    <h2 style="margin-bottom: 30px;">Histórico de Serviços</h2>

    <table style="width: 100%;">
        <thead>
            <tr style="background-color: #C8102E;">
                <th style="padding: 10px;">Título</th>
                <th style="padding: 10px;">Cliente</th>
                <th style="padding: 10px;">Data de Entrega</th>
                <th style="padding: 10px;">Total</th>
                <th style="padding: 10px;">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for s in servicos %}
            <tr style="border-bottom: 1px solid #444;">
                <td style="padding: 10px;">{{ s.titulo }}</td>
                <td style="padding: 10px;">{{ s.cliente.nome }} {{ s.cliente.sobrenome }}</td>
                <td style="padding: 10px;">{{ s.data_entrega }}</td>
                <td style="padding: 10px;">R$ {{ s.preco_total }}</td>
                <td style="padding: 10px;">
                    <a href="{% url 'servico' s.identificador %}" style="background-color: #C8102E; color: white; padding: 5px 10px; border-radius: 5px; text-decoration: none;">
                        Ver
                    </a>
                    <a href="{% url 'gerar_os' s.identificador %}"style="background-color: #444; color: white; padding: 5px 10px; border-radius: 5px; text-decoration: none;">
                        📄 OS
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" style="text-align: center; padding: 20px;">Nenhum serviço finalizado ainda.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}